<!DOCTYPE html>
<html ng-app='todo' lang='en'>

<head>
    <meta charset='utf-8'>
    <title>TODO List</title>
    <meta name='description' content='A simple app to track TODO items'>
    <meta name='author' content=''>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <link rel='stylesheet' type='text/css' href='css/main.css'>
</head>

<body ng-controller='HeaderController as vm'>
    <header>
        <h1>todos</h1>
    </header>
    
    
    
    
    <main>
        <form ng-submit='vm.pushTodo()'>
            <input type='text' class='new-todo' ng-model="vm.item" placeholder='What needs to be done?'>
        </form>
        <ul class='items'>
            <li ng-repeat="item in vm.list">
                <article ng-class="{'completed':item.status}">
                    <button ng-click="vm.check(item)" class='check'></button>
                    <p>{{item.name}}</p>
                    <button ng-click="vm.delete(item)" class='delete'>X</button>
                </article>
            </li>
        </ul>
        <footer>
            <p class='remaining'><span class='incomplete-items'>0</span> items left</p>
            <nav>
                <ul>
                    <li>
                        <button ng-click='vm.all()' class='show-all active'>All</button>
                    </li>
                    <li>
                        <button ng-click='vm.active()' class='show-active'>Active</button>
                    </li>
                    <li>
                        <button ng-click='vm.complete()' class='show-completed'>Completed</button>
                    </li>
                </ul>
            </nav>
        </footer>
    </main>
    <!-- Modal -->
    
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/angular.headroom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.js"></script>
    <script src="node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <script src='js/main.js'></script>
    <script src='js/Services/services.js'></script>
    <script src='js/Controllers/tableControllers.js'></script>
</body>

</html>
